body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35em;
  color: #ae7c78;
}

ul,
a {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrapper__slider {
  width: 794px;
}

.wrapper__border {
  border: 1px solid #ae7c78;
  padding-top: 40px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: 0.02em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.menu_item {
  list-style: none;
  margin-right: 94px;
}

.menu_link {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.menu_link:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.menu_link:hover {
  color: #647680;
}

.menu_link:hover:after, .menu_link:focus:after {
  width: 100%;
  background-color: #647680;
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2em;
  width: 285px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #d89999;
  border-radius: 40px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #647680;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_link {
  position: relative;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.social_link:not(:last-child) {
  margin-right: 21px;
}

.social_link:after {
  background-color: #647680;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.social_link:hover:after, .social_link:focus:after {
  width: 100%;
}

.social_img:hover {
  fill: #647680;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.header {
  margin-top: 26px;
  margin-bottom: 81px;
  position: relative;
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  cursor: pointer;
}

.header .menu_item:nth-child(3n) {
  margin-right: 230px;
}

.header .menu_item:nth-child(6n) {
  margin-right: 0;
}

.promo {
  height: 465px;
  margin-bottom: 48px;
}

.promo_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.promo_column img {
  border-radius: 10px;
}

.promo_column:nth-child(1) {
  width: 385px;
}

.promo_column:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.promo_column:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.promo_title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  text-align: left;
  letter-spacing: normal;
}

.promo_title span {
  font-style: italic;
}

.promo_text {
  font-size: 24px;
  margin-top: 0;
  padding-bottom: 64px;
  line-height: 1.24em;
  margin-bottom: 0;
}

.features {
  margin-bottom: 74px;
}

.features_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.features_item {
  margin: 0;
  padding: 0;
  padding-left: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.features_item__delivery::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/icons/delivery.svg");
  width: 82px;
  height: 52px;
}

.features_item__bouquet ::before {
  display: block;
  position: absolute;
  top: 0;
  left: 31px;
  content: url("../img/icons/bouquet.svg");
  width: 82px;
  height: 52px;
}

.features_item__photo::before {
  display: block;
  position: absolute;
  top: 0;
  left: 25px;
  content: url("../img/icons/photo.svg");
  width: 82px;
  height: 52px;
}

.features_item:nth-child(3n) {
  margin-right: 0;
}

.features_title {
  font-family: inherit;
  font-weight: 500px;
  margin-bottom: 8px;
}

.features_text {
  margin: 0;
}

.slider {
  margin-bottom: 60px;
}

.slider_title {
  font-weight: 700;
  font-size: 36px;
}

.slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
}

.slider_item-body {
  width: 407px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider_item-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.slider_item-text {
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 25px;
}

.slider_item-size {
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 25px;
}

.slider_item-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 64px;
}

.slider_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control_arrow {
  padding: 10px 10px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.control_arrow:hover {
  fill: #ffffff;
  background-color: #647680;
  border-radius: 20px;
}

.control_btn {
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}

.catalog {
  margin-bottom: 80px;
}

.catalog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog_item {
  width: 387px;
  height: 442px;
  color: #ffffff;
  border-radius: 10px;
}

.catalog_item-title {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog_item-text {
  margin: 0;
}

.catalog_overlay {
  width: 100%;
  height: 100%;
  background: rgba(174, 124, 120, 0.6);
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.catalog_overlay:hover {
  background: #ae7c78;
  color: #647680;
}

.item__wedding {
  background-image: url("../img/content/bouqet-4.jpg");
}

.item__pion {
  background-image: url("../img/content/bouqet-5.jpg");
}

.item__booket {
  background-image: url("../img/content/bouqet-6.jpg");
}

.sale {
  color: #ffffff;
  margin-bottom: 80px;
  height: 391px;
}

.sale_body {
  background: #ae7c78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
  margin: 0;
}

.sale_description-body {
  width: 482px;
  padding-top: 40px;
}

.sale_title {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: left;
  padding-left: 102px;
}

.sale_text {
  margin-top: 0;
  font-size: 24px;
  padding-left: 102px;
  line-height: 1.21em;
}

.sale_img img {
  height: 100%;
}

.steps {
  margin-bottom: 60px;
}

.steps_title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 36px;
}

.steps_list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.steps_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.steps_item__order {
  background-image: url("../img/icons/order.svg");
}

.steps_item__peple {
  background-image: url("../img/icons/peple.svg");
}

.steps_item__pay {
  background-image: url("../img/icons/pay.svg");
}

.steps_item__delivery {
  background-image: url("../img/icons/delivery.svg");
}

.steps_item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
}

.steps_item-text {
  margin-top: 0;
  text-align: center;
}

.news {
  margin-bottom: 80px;
}

.news_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_item {
  width: 387px;
  padding-right: 121px;
}

.news_title {
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 40px;
}

.news_text {
  font-size: 24px;
  line-height: 1.21em;
  margin-bottom: 40px;
}

.news_img {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left-top right" "left-bottom right";
  gap: 20px;
}

.news_img-left-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-top;
}

.news_img-left-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-bottom;
}

.news_img-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: right;
}

.review {
  margin-bottom: 80px;
}

.review_title {
  font-weight: 700;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
}

.review_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review_item {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  width: 300px;
  text-align: center;
}

.review_text {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.22em;
  padding: 0;
}

.review_autor {
  font-weight: 500;
  font-style: normal;
}

.contacts {
  min-height: 590px;
  background-image: url("../img/content/bg-map.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 52px;
}

.contacts_body {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 102px;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 102px;
  padding-bottom: 33px;
}

.contacts_title {
  font-weight: 700;
  font-size: 36px;
  margin-top: 0;
  text-align: left;
  letter-spacing: normal;
  margin-bottom: 42px;
}

.contacts_list {
  list-style: none;
}

.contacts_item {
  width: 243px;
}

.contacts_item-title {
  margin: 0;
  line-height: 1.22em;
  margin-bottom: 15px;
}

.contacts_item-text {
  display: inline-block;
  font-weight: 500;
  line-height: 1.22em;
  font-style: normal;
  color: #ae7c78;
  text-decoration: none;
  margin: 0;
  margin-bottom: 33px;
}

.footer {
  background-color: #ae7c78;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 97px;
}

.footer_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_menu .menu_item {
  margin-right: 68px;
}

.footer_menu .menu_item:last-child {
  margin-right: 0;
}
